fastapi
uvicorn[standard]
pydantic
python-dotenv
httpx
aiohttp

websockets
python-socketio

psycopg2-binary
asyncpg
sqlalchemy
alembic

geopy
shapely
pyproj

python-dateutil
pytz

loguru
orjson

python-multipart
jinja2
msgpack
requests
jupyter
ipykernel

streamlit
streamlit-folium
folium
pandas
