fastapi
uvicorn[standard]
pydantic
python-dotenv
httpx
aiohttp

websockets
python-socketio

psycopg2-binary
asyncpg
sqlalchemy
alembic

geopy
shapely
pyproj

python-dateutil
pytz

loguru

python-multipart
jinja2
msgpack
jupyter
ipykernel

streamlit
streamlit-folium
folium
pandas
